a {
    transition: all 0.3s;
    text-decoration: none !important;
}
a:hover {
    color: black;
}
p {
    text-align: justify;
    line-height: 1.8;
}
:root {
	--mainColor: #b21f01;
}
body{
    font-size: .9rem;
}